.cartItemContainer {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}


.delete-button {
    background-color: rgb(198, 0, 26);
    color: white;
    border-radius: 8px;
    padding: 7px;
    margin-left: 5px;

    transition: background-color 0.3s ease;
  }

  .delete-button:hover {
    background-color: rgb(207, 125, 136);
    cursor: pointer;
  }


  .add-one-more-button {
    background-color: rgb(22, 129, 22);
    color: white;
    border-radius: 8px;
    padding: 7px;
    margin-right: 5px;

    transition: background-color 0.3s ease;
  }

  .add-one-more-button:hover {
    background-color: rgb(77, 194, 120);
    cursor: pointer;
  }