.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d0d0d0; /* Background color for the navbar */
    color: rgb(0, 0, 0); /* Text color */
    padding: 10px 20px; /* Padding for the navbar */
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
  
    /* Optional: Add box-shadow for a slight depth effect */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar h1 {
    margin: 5px; /* Remove default margin */
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(247, 146, 146);

    transition: background-color 0.4s ease;
  }

  .navbar h1:hover {
    background-color: rgb(122, 139, 175);
  }
  
  .navbar h1 a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(0, 0, 0); /* Text color for links */
    margin: 0 10px; /* Spacing between links */
  }
  
